/*-----------------Css Reset-----------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------- Kod ------------------------*/




#ZeroTwo{

grid-area: ZeroTwo;
background-color: grey;

}

#Asuna{
	grid-area: Asuna;
	background-color: pink;

}

#RemXEmilia{
	grid-area: RemXEmilia;
	background-color: #52514E;
	color: yellow;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	font-family: "Lucida Console", "Courier New", monospace;
	background-image: url(../bilder/parkering.jpg);
	background-size: cover;
  background-repeat: no-repeat;


}

#Maisan{
	grid-area: Maisan;
	background-color: blue;
}


#dubwrapper{

display: grid;
height: 200vh;

grid-template-columns: 100%;
grid-template-rows: 20vh 80vh 80vh 20vh;
grid-template-areas:
	"ZeroTwo"
	"Asuna"
	"RemXEmilia"
	"Maisan"



}

/*----------------Tom---------------------*/


.vidarepil{
	position: relative;
	bottom: 50px;
	right: -560px;
	width: 7%;
	height: auto;
}


.pil1{
	width: 7%;
	height: auto;
}

.pil2{
	width: 7%;
	height: auto;
}

.Bilder{
	position: relative;
	bottom: 150px;
	left: -520px;


}

.BilderBilar{
	display: flex;
	width: 2400px;
	position: relative;



}



.window{
	width: 800px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;

}
