/*-----------------Css Reset-----------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------- Kod ------------------------*/




#ZeroTwo{

grid-area: ZeroTwo;
background-color: grey;

}

#Asuna{
	grid-area: Asuna;
	background-color: pink;

}

#RemXEmilia{
	grid-area: RemXEmilia;
	background-color: #52514E;
	color: yellow;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	font-family: "Lucida Console", "Courier New", monospace;
	background-image: url(../bilder/parkering.jpg);
	background-size: cover;
  background-repeat: no-repeat;



}

#Uzaki-Chan{
	grid-area: Uz;
	background-color: black;
}

#Maisan{
	grid-area: Maisan;
	background-color: blue;
}


#dubwrapper{

display: grid;
height: 200vh;

grid-template-columns: 100%;
grid-template-rows: 20vh 80vh 65vh 15vh 20vh;
grid-template-areas:
	"ZeroTwo"
	"Asuna"
	"RemXEmilia"
	"Uz"
	"Maisan"



}

/*----------------Tom---------------------*/


.vidarepil{
	position: relative;
	width: 7%;
	height: auto;
}

.pil1{
	position: relative;
	width: 7%;
	height: auto;
}

.pil2{
	position: relative;
	width: 7%;
	height: auto;
}

.Pilar{
	display: flex;
	justify-content: space-evenly;
}

.Bilder{
	position: relative;
	bottom: 150px;
	left: -260px;


}

.BilderBilar{
	display: flex;
	width: 2400px;
	position: relative;



}



.window{
	width: 800px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;

}

@media screen and (max-width:800px){
	.pil2{
		width: 10%;
		height: auto;
	}

	.pil1{
		width: 10%;
		height: auto;
	}

	.vidarepil{
		width: 10%;
		height: auto;
	}

	.BilderBilar{
		padding-top: 50px;
	}

	.Pilar{
		margin-top: 10px;
	}
}


/*-----------------Oskar------------------------*/

.Text{
	text-decoration: none;
	font-family: "Garamond", "Times New Roman";
	font-size: 40px;
	color: white;
	margin-top: 17%
}

.BotText{
color: white;
font-size: 25px;
}

.BotBotText{
color: white;
position: absolute;
bottom: 0;
font-size: 20px;
}
/*-------Top------*/

#ZeroTwo{
	background-color: black;
	display: flex;
	position: sticky; top: 0px;
}

#låd1{
	width: 2%;
	height: 100%;
	background-color: black;
}

#låd2{
	width: 10%;
	height: 80%;
	background-image: url("../Bilder/LUZORZILLALogga.png");
	background-size: cover;
}

#låd2kf{
	height: 100%;
	width: 3%;
}
#låd3{
	width: 15%;
	height: 100%;
	background-color: black;
}

#låd4{
	width: 15%;
	height: 100%;
	background-color: black;
}

#låd5{
	width: 15%;
	height: 100%;
	background-color: black;
}

/*-------Bot-------*/

#Maisan{
	display: flex;
	flex-wrap: wrap;
	background-color: black;
}

#Botlåd1{
width: 20%;
height: 50%;
}

#Botlåd2{
width: 60%;
height: 50%;
}

#Botlåd3{
width: 20%;
height: 50%;
}

#Botlåd4{
height: 50%;
width: 30%;
position: relative;
}

#Botlåd5{
height: 50%;
width: 70%;
}

#Botlåd6{

}

@media only screen and (max-width: 1000px){

	#låd2{
		width: 20%;
		height: 80%;
		background-size: cover;
	}

	#låd3{
		width: 25%;
		height: 100%;
		background-color: black;
	}

	#låd4{
		width: 25%;
		height: 100%;
		background-color: black;
	}

	#låd5{
		width: 25%;
		height: 100%;
		background-color: black;
	}

	#AboutText{
		font-size: 25px;
		margin-top: 30px;
		margin-left: 150px;
		margin-right: 150px;
	}
}

@media only screen and (max-width: 600px){

	.Text{
		font-size: 30px;
		color: white;
		margin-top: 17%
}
/*------------Oskars kod slutar----------------------*/

