/*-----------------Css Reset-----------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------- Kod ------------------------*/




#ZeroTwo{

grid-area: ZeroTwo;
background-color: blue;

}

#Taiga{
	grid-area: Asuna;
	background-image: url(../bilder/HexBackg.png);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Lucida Console", "Courier New", monospace;
	color: yellow;
	text-align: center;
	font-size: 30px;
}

#mellan{
	grid-area: me;
	background-color: black;
	color: white;
}





#Maisan{
	grid-area: Maisan;
	background-color: purple;
}


#dubwrapper{

display: grid;
height: 120vh;

grid-template-columns: 100%;
grid-template-rows: 20vh 65vh 15vh 20vh;
grid-template-areas:
	"ZeroTwo"
	"Asuna"
	"me"
	"Maisan"



}

/*----------------Tom---------------------*/







.Vit{
	width: 59%;
	height: auto;
}

.window{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}



.white{
	position: relative;
	width: 5%;
	height: auto;
}

.green{
	position: relative;
	width: 5%;
	height: auto;
}

.pink{
	position: relative;
	width: 5%;
	height: auto;
}

.Pick1{
	display: flex;
	justify-content: space-evenly;
}

.Pick2{
	display: flex;
	justify-content: space-evenly;
}

@media screen and (max-width:800px){
	.white{
		width: 10%;
		height: auto;
	}

	.green{
		width: 10%;
		height: auto;
	}

	.pink{
		width: 10%;
		height: auto;
	}

	.Vit{
		width: 100%;
		height: auto;
		padding-top: 10px;
	}


}


/*-----------Oskar------------*/

#Asuna{
	background-image: url("../Bilder/regngata.jpg");
	background-size: cover;
}

#AboutText{
	text-decoration: none;
	font-family: "Garamond", "Times New Roman";
	font-size: 25px;
	color: white;
	margin-top: 30px;
	margin-left: 70px;
	margin-right: 500px;
}

#Hem{
	display: block;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 1000px){

	#låd2{
		width: 20%;
		height: 80%;
		background-size: cover;
	}

	#låd3{
		width: 25%;
		height: 100%;
		background-color: black;
	}

	#låd4{
		width: 25%;
		height: 100%;
		background-color: black;
	}

	#låd5{
		width: 25%;
		height: 100%;
		background-color: black;
	}

	#AboutText{
		font-size: 25px;
		margin-top: 30px;
		margin-left: 150px;
		margin-right: 150px;
	}
}

@media only screen and (max-width: 600px){

	.Text{
		font-size: 30px;
		color: white;
		margin-top: 17%



}



